body {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: rgba(27, 27, 50, 0.8);
     background-image: linear-gradient(
         115deg,
         rgba(58, 58, 158, 0.8),
         rgba(136, 136, 206, 0.7)
       ),
       url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   }
header {
text-align: center;
margin-bottom: 20px;
}

.description {
font-size: medium;
margin-top: 10px;
}

h1 {
font-weight: 400;
margin: 0;
}
.main {
background-color: rgb(40,40,72);
width: 50%;
margin: 0 auto;
padding: 20px ;
font-size: 18px;
color: aliceblue;
}

.details label {
    display: block;
    /* margin: 0 auto; */
    width: 90%;
    margin-bottom: 10px;
    margin-top: 20px;
}

 .details input {
    display: block;
    padding: 10px;
    width: 90%;
    margin-bottom: 20px;
    border-radius: 7px;
    font-size: large;
}

.closure button {
width: 90%;
display: block;
padding: 12px;
font-size: medium;
background-color: rgb(55,175,101);
color: aliceblue;
border-radius: 5px;
margin-bottom: 50px;
margin-top: 20px;
}
.comment textarea {
 width: 90%;  
 font-size: large; 
}
.details select {
display: block;
padding: 10px;
width: 90%;
font-size: large;
border-radius: 7px;
}
.details select, .details input, .closure button, .comment textarea {
width: 100%;
margin-left: 5;
margin-right: 5;
}
.details input, .comment textarea { 
    width: 96%;
}
.comment textarea {
width: 99%;
}



    